.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8e9a8;
}

.rContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rInput {
  height: 30px;
  padding: 10px;
}

.rButton {
  border: none;
  padding: 10px 20px;
  background-color: #4e9f3d;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.rButton:disabled {
  background-color: #1e5128;
  cursor: not-allowed;
}
