.update {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8e9a8;
}

.uContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.uInput {
  height: 30px;
  padding: 10px;
}

.uButton {
  border: none;
  padding: 10px 20px;
  background-color: #4e9f3d;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.uButton:disabled {
  background-color: #1e5128;
  cursor: not-allowed;
}

.input{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

